/* Color palette: https://coolors.co/1c1d21-a288a6-bb9bb0-d6bfca-f1e3e4-46b1c9-84c0c6
*/

body {
    margin: 0;
    min-width: 300px;
    background-color:  #1C1D21;
    color:#F1E3E4;
}



#header {
    text-align: center;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    font-family:cursive;
    width:100%;
}


div.book {
    background-color: #F1E3E4;
    border: 2px solid #D6BFCA;
    border-radius: .6rem;
    margin: 1rem;
    box-shadow: 4px 4px 10px 1px;
    color: #1C1D21;
}

div.book.read {
    background-color: #BB9BB0;
    border-color: #A288A6;
    box-shadow: 4px 4px 7px -2px;
    margin-left: 3rem;
}

div.book .header {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 2px;
    background-color: #D6BFCA;
}

div.book.read .header {
    background-color: #A288A6;
    ;
}

div.book .title {
    font-size: 1.5em;
    font-style: italic;
    margin: .5rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

div.book .button {
    width: 3em;
    border-left: 2px solid #A288A6;
    color: #A288A6;
    padding: .2em;
    text-align: center;
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

div.book.read .button {
    color: #F1E3E4;
    opacity: 1;
    border-left-color: #F1E3E4;
}

div.book .button symbol {
    font-size: 1.5em;
}

div.book .del-button .symbol {
    font-family:Arial, Helvetica, sans-serif;
}

div.book .read-button .symbol {
    visibility: hidden;
}

div.book.read .read-button .symbol {
    visibility: visible;
}

div.book .author,
div.book .pages {
    margin: .5em;
    text-align: center;
}

div.book .author .by {
    font-size: .8em;
}

#empty-prompt {
    font-size: 1.3em;
    padding: 2em;
    text-align: center;
}

/* Form */
#form-toggle {
    height: 1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50%;
    border: 4px solid #A288A6;
    color:#1C1D21;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0em;
}

#form-toggle.open {
    background-color: #BB9BB0;
    border-color: #A288A6;
}

#form-toggle.close {
    background-color: #F1E3E4;
    border-color: #D6BFCA;
}

.hidden {
    display: none;
}

#new-book {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    text-align: right;
    padding: 2rem;
    background-color: #84C0C6;
    border-radius: .6rem;
    border: 2px solid #46B1C9;
}

#new-book h3 {
    text-align: center;
}

#new-book input {
    margin: .8em;
}

#new-book .button {
    display:block;
    margin:auto;
}

.button-close {
    float:right;
    width:1.3em;
    height:1.3em;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;
    line-height: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Footer  */

#footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width:100%;
    background-color: rgb(66,74,78);
}

#footer a {
    color: #F1E3E4;
}

footer p {
    margin: .5em;
}

#footer ul {
    list-style: none;
    margin: 1em;
    padding: 0px;
}

#footer li {
    display: inline;
    margin: 1em;
}